body {
  background: #eee;
}

.app-bar .status {
  text-align: center;
}

.app-bar .logo {
  max-width: 40px;
  margin-right: 20px;
}

.globe-wrapper {
  margin-top: 20px;
}

.globe-wrapper canvas {
  margin: auto
}

.raw-logs-container {
  position: relative;
  height: 300px;
}

.raw-logs {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  border: none;
  color: #b2bec3;
  font-weight: bold;
  overflow: auto;
  box-sizing: border-box;
  line-height: 16px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
}

.raw-logs-container .live-toggle {
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
  background: rgba(255,255,255);
  padding-left: 16px;
  border-top-right-radius: 5px;
}

.fsm-controls {
  display: flex;
  flex-direction: column;
}

.fsm-actions {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.fsm-actions button {
  flex: 1;
  margin: 0 5px;
}

.fsm-actions button:nth-child(1) {
  flex: 1;
  margin-left: 0;
}

.fsm-actions button:last-child {
  flex: 1;
  margin-right: 0;
}

.leaflet-container {
  margin: 10px auto;
  width: calc(100% - 20px);
  height: 600px;
}

.status-indicators {
  margin-top: 27px;
}

.status-indicator {
  text-align: center;
  font-weight: bold;
}

.igniter_option, .circle {
  height: 25px;
  width: 25px;
  display: block;
  margin: 0 auto 10px auto;
}

.circle {
  border-radius: 50%;
  background: grey;
  box-shadow: 0 0px 6px grey;
}

.circle.enabled {
  background: #00a500;
  box-shadow: 0 0px 6px #00a500;
}

.circle.disabled {
  background: #a50000;
  box-shadow: 0 0px 6px #a50000;
}

.igniter_option {
  padding: 0 5px;
  background: #efefef;
  border-radius: 4px;
  line-height: 25px;
}

.lock-icon {
  cursor: pointer;
}

.plot-placeholder {
  height: 430px;
}

.plot-toggle-wrapper {
  display: block;
  text-align: center;
}

.hidden {
  display: none;
}